---
layout: jnt-en
---

	<section class="page-header">
		  <h1 class="project-name">JNTemplate</h1>
		  <h2 class="project-tagline">NTemplate is a .net template engine for generating html, xml, sql, or any other formatted text output.Licenses:Apache License 2.0</h2>
		  <a href="https://github.com/jiniannet/jntemplate/" class="btn">View on GitHub</a>
		  <a href="https://codeload.github.com/jiniannet/jntemplate/zip/master" class="btn">Download ZIP</a>
		  <a href="https://www.nuget.org/packages/JinianNet.JNTemplate/" class="btn">Nuget</a>
	</section>
	<section class="main-content">
        {{ content }}
    </section>